body{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    height:100vh
    
}

.pealkiri{
    height:200px;
    background:lightgreen;
    width:100%;
    text-align:center;
}